.container1 {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 95%;
    max-width: none;
}

.container2 {
    height: 60vh;
    overflow-y: scroll;
    padding-right: 2em;
    scrollbar-width: auto;
    scrollbar-color: #1e4c57 #ffffff;
}

.container2::-webkit-scrollbar-thumb {
    background-color: #1e4c57;
    border-radius: 10px;
}

h2, p, span {
    margin-bottom: 20px;
    color: #1e4c57;
}

.role {
    font-weight: bold;
}

.status {
    font-weight: bold;
}

.status.open span {
    color: #C2AD27;
}

.status.closed span {
    color: #C12A2A;
}

.status.active span {
    color: #33A92A;
}

.status.suspended span {
    color: #CF9426;
}

.users-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    height: 100%;
    flex-wrap: wrap;
}

.view-user-btn {
    background-color: #1e4c57;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    min-width: 8.5em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-user-btn:hover {
    background-color: #456;
}

.user-profile-box {
    background-color: #d9d9d9;
    padding-left: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
}

