<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Software Voting Machine</title>
</head>
<body>
  <div class="voting-sessions-container1">
    <div class="voting-sessions-container2">
      <h2 class="sessions-title">Voting sessions</h2>
      <div class="no-sessions">
        <p>There are no voting sessions for you.</p>
        <p>Voting sessions can’t be displayed because your profile is not active yet.</p>
        <p>Introduce your token to view your organization’s statistics:</p>
        <input type="text" id="token" name="token">
      </div>
    </div>
  </div>
</body>
</html>
