<div class="profile-box1">
    <h2>Profile</h2>
    <p class="status">Profile status: <span class="active">active</span></p>
    <div class="profile-box2">
        <form class="profile-form">
            <div class="form-grid">
                <div class="form-group">
                    <label>First name</label>
                    <div class="field-value">John</div>
                </div>

                <div class="form-group span-2">
                    <label>Address</label>
                    <div class="field-value">1234 Maple Street</div>
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <div class="field-value">Doe</div>
                </div>

                <div class="form-group">
                    <label>City</label>
                    <div class="field-value">New York</div>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <div class="field-value">USA</div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <div class="field-value">john.doe.com</div>
                </div>

                <div class="form-group span-2">
                    <label>National ID</label>
                    <div class="field-value">1234567890123</div>
                </div>

                <div class="form-group">
                    <label>Date of birth</label>
                    <div class="field-value">1990-01-01</div>
                </div>

                <div class="form-group">
                    <label>Organization</label>
                    <div class="field-value">ACME Inc.</div>
                </div>

                <div class="form-group">
                    <label>Role</label>
                    <div class="field-value">Administrator</div>
                </div>
            </div>
        </form>
    </div>
</div>
