<div class="password-box">
    <h2>Update Password</h2>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <input
                type="password"
                name="oldPassword"
                [(ngModel)]="oldPassword"
                placeholder="Old password"
                required
                (input)="markDirty()"
        />
        <!--            <button type="button" class="toggle-visibility" (click)="toggleOldPassword()">-->
        <!--                <img-->
        <!--                        [src]="showOldPassword ? 'assets/icons/eye-off.svg' : 'assets/icons/eye.svg'"-->
        <!--                        [alt]="showOldPassword ? 'Hide password' : 'Show password'"-->
        <!--                />-->
        <!--            </button>-->

        <input
                type="password"
                name="newPassword"
                [(ngModel)]="newPassword"
                placeholder="New password"
                required
                (input)="markDirty()"
        />

        <input
                type="password"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                placeholder="Confirm password"
                required
                (input)="markDirty()"
        />

        <div class="form-actions">
            <p class="unsaved-warning" *ngIf="hasUnsavedChanges">There are unsaved changes!</p>
            <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
            <p class="unsaved-warning" *ngIf="showWarning">{{ warningMessage }}</p>

            <div class="button-group">
                <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
        </div>
    </form>
</div>
