.password-box {
    background-color: #d9d9d9;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70%;
    width: 30vw;
}

.password-box h2 {
    margin-bottom: 2em;
}

.password-box form {
    display: flex;
    flex-direction: column;
}

.password-box input {
    background-color: #fafaff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    color: #1e4c57;
    margin-bottom: 1.5em;
    padding: 10px;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin-top: 2em;
}

.unsaved-warning {
    color: #b02e2e;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.button-group {
    align-self: flex-end;
    display: flex;
    gap: 1em;
}

.cancel-btn,
.save-btn {
    background-color: #1e4c57;
    color: #fafaff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover,
.save-btn:hover {
    background-color: #163a44;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.unsaved-warning {
    margin-left: 0.5em;
    font-size: 14px;
    font-weight: bold;
}

.success-message {
    margin-left: 0.5em;
    font-size: 14px;
    font-weight: bold;
    color: #28a745;
}

/*.toggle-visibility {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    transform: translateY(-50%);*/
/*    background: transparent;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    padding: 0;*/
/*}*/

/*.toggle-visibility img {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    opacity: 0.6;*/
/*}*/

/*.toggle-visibility img:hover {*/
/*    opacity: 1;*/
/*}*/
